[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pytest = "*"
requests = "*"
requests-futures = "*"


[packages]

flask = "*"
gunicorn = "*"


[requires]

python_version = "3"
