[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
requests = "*"
requests-futures = "*"
black = "*"
"pdf2image" = "*"

[packages]
flask = "*"
gunicorn = "*"
fclist = {git = "https://github.com/MonsieurV/python-fclist.git"}

[requires]
python_version = "3"
