[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
requests-futures = "*"
black = "==19.10b0"
"pdf2image" = "*"

[packages]
requests = "*"
flask = "*"
fclist = {git = "https://github.com/MonsieurV/python-fclist.git"}
gunicorn = "*"
texlivemetadata = ">=0.1.3"
hy = {git = "https://github.com/hylang/hy.git"}
urllib3 = ">=1.24.2"
pyzmq = "*"
msgpack = "*"

[requires]
python_version = "3"
