name: docker-hub-publish
on:
  release:
    types: [published]

jobs:
  build-ant-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip pipx
          pipx install poetry
          make install
      - name: Build Docker images
        run: make docker-build-all
      - name: Run tests (using locally built Docker images)
        run: make test-docker-compose
      - name: Docker Hub push
        run: ./container/docker_push.sh
        shell: bash
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
